<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12">

      <h1>List your exotic pet</h1>

      <%= simple_form_for @pet do |f| %>
        <%= f.input :name %>
        <%= f.input :species %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :address %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "List pet", class: "btn btn-create" %>
      <% end %>

    </div>
  </div>
</div>
