<h1>Hello New Pets</h1>

<%= simple_form_for @pet do |f| %>
  <%= f.input :name %>
  <%= f.input :species %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :address %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "New Pet"%>
<% end %>
