<div class="contain-pets" type="button" data-toggle="modal" data-target="#myModal">
  <div class="contain-main">
    <button type="button" data-toggle="modal" data-target="#myModal">
      <%= cl_image_tag "aj1avj6mn9vemtiudbp0", height: 150, width: 400, crop: :fill %>
    </button>
  </div>
  <div class= "contain-pet">
    <div class="pet">
      <button type="button" data-toggle="modal" data-target="#myModal">
        <%= cl_image_tag "bwspwor9mzpzajygmu8j", height: 150, width: 400, crop: :fill %>
      </button>
    </div>
    <div class="pet">
      <button type="button" data-toggle="modal" data-target="#myModal">
        <%= cl_image_tag "is3zy7y2mxuprn86kb8j", height: 150, width: 400, crop: :fill %>
      </button>
    </div>
  </div>

  <div class= "contain-pet">
    <div class="pet">
      <button type="button" data-toggle="modal" data-target="#myModal">
        <%= cl_image_tag "qvcrz3xxwi1nyl6j9vty", height: 150, width: 400, crop: :fill %>
      </button>
    </div>
    <div class="pet">
      <button type="button" data-toggle="modal" data-target="#myModal">
        <%= cl_image_tag "mtjuoabv0qtivn7r0bu8", height: 150, width: 400, crop: :fill %>
      </button>
    </div>
  </div>
</div>
