<!-- <div class="contain-pets" type="button" data-toggle="modal" data-target="#myModal">
  <div class="contain-main">
    <button type="button" data-toggle="modal" data-target="#myModal">
      <%= cl_image_tag "aj1avj6mn9vemtiudbp0", height: 150, width: 400, crop: :fill %>
    </button>
  </div>
  <div class= "contain-pet">
    <div class="pet">
      <button type="button" data-toggle="modal" data-target="#myModal">
        <%= cl_image_tag "bwspwor9mzpzajygmu8j", height: 150, width: 400, crop: :fill %>
      </button>
    </div>
    <div class="pet">
      <button type="button" data-toggle="modal" data-target="#myModal">
        <%= cl_image_tag "is3zy7y2mxuprn86kb8j", height: 150, width: 400, crop: :fill %>
      </button>
    </div>
  </div>

  <div class= "contain-pet">
    <div class="pet">
      <button type="button" data-toggle="modal" data-target="#myModal">
        <%= cl_image_tag "qvcrz3xxwi1nyl6j9vty", height: 150, width: 400, crop: :fill %>
      </button>
    </div>
    <div class="pet">
      <button type="button" data-toggle="modal" data-target="#myModal">
        <%= cl_image_tag "mtjuoabv0qtivn7r0bu8", height: 150, width: 400, crop: :fill %>
      </button>
    </div>
  </div>
</div>
 -->
 <div style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="col-2"></div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @pet.photos.each_with_index do |_, index|  %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @pet.photos.each_with_index do |photo, index|  %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= image_tag photo, height: 500, crop: :fill, class: "d-block w-100" %>
            </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12">
        <div class="d-inline-flex p-2">
          <h1><%= @pet.name%></h1>
          <div class="ml-4">
            <img class="avatar-bordered" src=<%= cl_image_path @pet.user.photo.key, width: 40, height: 40, crop: :thumb, gravity: :face if @pet.user.photo.attached? %> />
          </div>
        </div>
        <div class="p-2">
          <h2><%= @pet.address %></h2>
          <h2><%= @pet.species %></h2>
        </div>
      <%= link_to "Edit pet", edit_pet_path(@pet), class: "btn btn-primary" %>
      <%= link_to "Book form", new_pet_booking_path(@pet), class: "btn btn-primary" %>
    </div>
  </div>
</div>

