<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @pet.photos.each_with_index do |_, index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @pet.photos.each_with_index do |photo, index|  %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= image_tag photo, height: 500, crop: :fit, class: "d-block w-100" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div id="pet-show" class="container">
    <div class="row justify-content-between">
      <div id="pet-details" class="col-12 col-md-6">
        <img class="avatar-bordered" src=<%= cl_image_path @pet.user.photo.key, width: 40, height: 40, crop: :thumb, gravity: :face if @pet.user.photo.attached? %> />
        <h1><%= @pet.name %></h1>
        <h2><%= @pet.address %></h2>
        <h2><%= @pet.species.capitalize %></h2>
        <%= link_to "Borrow pet", pet_bookings_path(@pet), class: "btn btn-create" %>
        <%= link_to "Edit pet", edit_pet_path(@pet), class: "btn btn-edit" %>
        <%= link_to "Remove pet", pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete"%>
        <%= simple_format @pet.description %>
        <%= link_to '<i class="fa fa-arrow-left"></i> Back to listings'.html_safe, root_path, class: "link" %>
      </div>
      <div id="booking-form" class="col-12 col-md-4">
        <h2>Borrow</h2>
        <% if @booking.pet == @pet && @booking.user == current_user %>
          <p>Thanks for your borrow request for the @pet.species @pet.name!</p>
        <% else %>
          <%= render 'bookings/form', pet: @pet, booking: @booking %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="reviews" class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h2>Reviews for <%= @pet.name %></h2>
        <% if @pet.reviews.blank? %>
          <p id="no-review">No reviews yet.</p>
        <% else %>
          <% @pet.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


