<div class="container">
    <h1> Book this pet</h1>
    <%= simple_form_for [@pet, @booking], url: pet_bookings_path(@pet) do |f| %>
      <div>
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class: 'form-control',  data:{ provide:'datepicker' } %>
      </div>
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class: 'form-control', data:{ provide:'datepicker' } %>
      <%= f.submit "New Booking"%>
    <% end %>
</div>