<div class="container">
  <h1> Book this pet</h1>
<%= simple_form_for [@pet, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :review %>
  <%= f.input :rating %>
  <%= f.submit "New Booking"%>
<% end %>
</div>