<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12">

      <h1 class= "green" style="margin: 40px 0 40px;">Congrats!</h1>
      <h2 style="margin-bottom: 16px;">You have booked <%= @booking.pet.name %></h2>
      <% @booking.pet.photos.each_with_index do |photo, index| %>
      <div class="picture">
        <%= cl_image_tag photo.key if index == 0 %>
      </div>
        <% end %>
      <div class="booking-data">
        <h3><strong>Booked dates</strong></h3>
        <p><strong>From : </strong><%= @booking.start_date %></p>
        <p><strong>To : </strong><%= @booking.end_date %></p>
      </div>
      <div class="booking-data">
        <h3><strong>Contact info</strong></h3>
        <p><strong>Email - </strong><%= @pet.user.email %></p>
        <p><strong>Phone number - </strong><%= @pet.user.phone_number %></p>
      </div>

    </div>
  </div>
</div>

<div id="reviews" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2>How did it go? <strong>Review your experience with <%= @booking.pet.name %>!</strong></h2>
      <% if @booking.pet.reviews.blank? %>
        <p id="no-review">Be the first to leave a review for the <%= @booking.pet.name %></p>
      <% else %>
        <% @pet.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      <% end %>
      <%= render 'reviews/form', booking: @booking, review: @review %>
    </div>
  </div>
</div>
