<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      <h1>Edit your info</h1>

      <%= simple_form_for @user do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :phone_number %>
        <%= f.input :bio %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Save changes", class: "btn btn-create" %>
      <% end %>

      <%= link_to 'Cancel', user_path(@user), class: "btn btn-edit" %>

    </div>
  </div>
</div>
